In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [3]:
names = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Cousin Oliver']
data = pd. DataFrame(index=names)
data['age']= [14, 12, 11, 10, 8, 6, 8]

In [35]:
data

               age
Greg            14
Marcia          12
Peter           11
Jan             10
Bobby            8
Cindy            6
Cousin Oliver    8

In [11]:
np.mean(data['age'])

9.8571428571428577

In [12]:
np.median(data['age'])

10.0

In [10]:
import statistics
statistics.mode(data['age'])

8

In [57]:
np.var(data['age'])

6.408163265306122

In [5]:
np.std(data['age'])

2.5314350209527641

In [6]:
np.std(data['age']) / np.sqrt(len(data['age']))

0.95679250365151347

In [18]:
# Central Tendency: I would choose mean since it shows the average age of the kids when they first appeared on the show
# Variance: I would choose standard deviation. It tells us the extent of deviation is 2.5 years as a whole

In [7]:
data['age_2']= [14, 12, 11, 10, 8, 7, 8]

In [38]:
data

               age  age_2
Greg            14     14
Marcia          12     12
Peter           11     11
Jan             10     10
Bobby            8      8
Cindy            6      7
Cousin Oliver    8      8

In [21]:
np.mean(data['age_2'])

10.0

In [22]:
np.median(data['age_2'])

10.0

In [23]:
statistics.mode(data['age_2'])

8

In [61]:
np.var(data['age_2'])

5.4285714285714288

In [25]:
np.std(data['age_2'])

2.3299294900428702

In [8]:
np.std(data['age_2']) / np.sqrt(len(data['age_2']))

0.88063057185271088

In [27]:
#mean increased to 10. Median and mode stayed constant. Variance, standard deviation, and standard error all decreased

In [10]:
names_new = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']

In [11]:
data_new=pd.DataFrame(index=names_new)
data_new['age_new'] = [14, 12, 11, 10, 8, 7, 1]
data_new

         age_new
Greg          14
Marcia        12
Peter         11
Jan           10
Bobby          8
Cindy          7
Jessica        1

In [12]:
np.mean(data_new['age_new'])

9.0

In [13]:
np.median(data_new['age_new'])

10.0

In [14]:
statistics.mode(data_new['age_new'])

NameError: name 'statistics' is not defined

In [62]:
np.var(data_new['age_new'])

15.428571428571429

In [45]:
np.std(data_new['age_new'])

3.927922024247863

In [15]:
np.std(data_new['age_new']) / np.sqrt(len(data_new['age_new']))

1.4846149779161806

In [47]:
# I would still look at mean and standard deviation

In [48]:
magazines = ['TV Guide', 'Entertainment Weekly', 'PC Today', 'SciFI Phan']

In [50]:
sample = pd.DataFrame(index = magazines)

In [51]:
sample['fan_perc'] = [.20, .23, .17, .05]

In [52]:
sample

                      fan_perc
TV Guide                  0.20
Entertainment Weekly      0.23
PC Today                  0.17
SciFI Phan                0.05

In [53]:
np.mean(sample['fan_perc'])

0.16250000000000003

In [54]:
sample['fan_perc'].var()

0.0062250000000000005

In [55]:
np.std(sample['fan_perc'], ddof=1)

0.078898669190297505

In [ ]:
#I would estimate about 16% of adult Americans are Brady Bunch fans on the 50th anniversary